<!DOCTYPE html>
<html>
<head>
  <title>Flixter</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
   <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div id="wrap">
		<%= render 'layouts/navbar' %>
		<%= render 'shared/flashmessages', flash: flash %>
		<%= yield %>
	</div>
	<br class="clr" />

	<div id="footer">
		<div class="container">
			<div class="col-xs-12 col-sm-3">
				<b>Teachers</b>
				<br />
				<%= link_to 'Teach a Course', new_instructor_course_path %>
				<br />
				<%= link_to 'My Dashboard', dashboard_path %>
			</div>
			<div class="col-xs-12 col-sm-3">
				<b>About</b>
				<br />
				<%= link_to 'Team', '#' %>
				<br />
				<%= link_to 'Careers', '#' %>
				<br />
				<%= link_to 'Privacy Policy', privacy_path %>
			</div>
			<div class="col-xs-12 col-sm-3">
				<b>Contact</b>
				<br />
				ken@thefirehoseproject.com
				<br />
				One Kendall Square
				<br />
				Cambridge MA, 02113
			</div>
			<div class="col-xs-12 col-sm-3 social">
				<b>Social</b>
				<br />
				<br />
				<%= link_to 'https://github.com/mugisha99' do %>
					<%= image_tag 'github.png', :class=> 'social-button'%>
				<% end %>
				<%= image_tag 'twitter.png', :class=> 'social-button' %>
				<%= image_tag 'facebook.png', :class => 'social-button' %> 
			</div>
		</div>
	</div>

</body>
</html>
